<div class="snow-bg"></div>

<div class="wrapper p-5">
  <div class="card-row">
    <div class="row">
      <div class="col">
        <div class="card card-1 animate__animated animate__fadeInUp">
          <div class="overlay">
            <div class="overlay-text">
              <span class="text-light fw-bold">?</span>
            </div>
          </div>
          <div class="card-bg"></div>
          <div class="card-img"></div>
          <div class="card-body">
            <h3 class="card-title text-light mb-3">Blanka</h3>
            <p class="text-light">
              A friendly but shy social butterfly. A modest and considerate
              friend that should be protected at all costs.
            </p>

            <div class="btn-container">
              <a class="view-btn p-2" routerLink="/card/blanka"
                ><i class="bx bx-search"></i>View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-2 animate__animated animate__fadeInUp">
          <div class="overlay">
            <div class="overlay-text">
              <span class="text-light fw-bold">?</span>
            </div>
          </div>
          <div class="card-bg"></div>
          <div class="card-img"></div>
          <div class="card-body">
            <h3 class="card-title text-light mb-3">Oliwia</h3>
            <p class="text-light">
              A sweet and affectionate friend and lover. A priceless treasure
              that should be protected at all costs.
            </p>
            <div class="btn-container">
              <a class="view-btn p-2" routerLink="/card/oliwia"
                ><i class="bx bx-search"></i>View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
